[phases.setup]
nixpacksArchive = ["php82"]
aptPkgs = ["libicu-dev"]

[phases.install]
cmds = [
    "docker-php-ext-install intl", 
    "composer install --optimize-autoloader --no-interaction --ignore-platform-req=ext-intl"
]

[phases.build]
cmds = ["php artisan optimize"]