[phases.setup]
nixpacksArchive = ["php82"]
# Instala as bibliotecas do sistema (Linux) necessárias para as extensões
aptPkgs = ["libicu-dev", "libzip-dev"] 

[phases.install]
cmds = [
    "docker-php-ext-install intl zip", 
    "composer install --optimize-autoloader --no-interaction"
]

[phases.build]
cmds = ["php artisan optimize"]